<div class="conatiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">EDITANDO UN REGISTRO DEL CAMIÓN</h3>
                </div>
                <div class="card-body">
                    <form action="/edit2/{{camiones.id}}" method="post">
                    <div class="input-group mt-2">
                        <label for="marca" class="input-group-text">Marca</label>
                        <input class="form-control" type="text" name="marca" id="marca" value="{{camiones.marca}}" autofocus required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="modelo" class="input-group-text">Modelo</label>
                        <input class="form-control" type="varchar" name="modelo" id="apellido" value="{{camiones.modelo}}" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="placa" class="input-group-text">Placa</label>
                        <input class="form-control" type="varchar" name="placa" id="placa" value="{{camiones.placa}}" placeholder="0" required>
                    </div>
                    <div class="input-group mt-2">
                        <label for="año" class="input-group-text">Año</label>
                        <input class="form-control" type="num" name="año" id="año" value="{{camiones.año}}" required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Actualizar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>